.button-admin{
    display:flex ;
    gap: .5em;
    justify-content: center;
}


.admin-text h1{
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}


.content{
    color:white;
    /* height: 1000vh; */
   

}
.admin-div{
    height: 100vh;
}